@using Inventario.Models;
@using System.Web;
@model List<ProductModel>
@{
    var title = "Productos";
    var products = Model != null ? Model : new List<ProductModel>();
    var categories = ViewBag.categories != null ? (ViewBag.categories as List<CategoryModel>) : new List<CategoryModel>();
    var messageType = ViewBag.messageType != null ? ViewBag.messageType : "success";
    var message = ViewBag.message != null ? ViewBag.message : "";
    var numberFormat = "{0:#,0.00}";
}

<h1>
    @title
    <a href="/Product/Create" class="btn btn-primary float-right">Nuevo</a>
</h1>

@if (!String.IsNullOrEmpty(message)) {
    <div class="alert alert-@messageType alert-dismissible fade show message" role="alert">
        @message
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

@if (products.Count > 0) {
    <div class="table table-responsive">
        <table id="inventoryTable" class="display compact wrap hover">
            <thead>
                <tr>
                    <th>Descripción</th>
                    <th>Categoría</th>
                    <th>Código</th>
                    <th>Valor de compra</th>
                    <th>Valor de venta</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model) {
                    var category = categories.Where(a => a.id == product.category).FirstOrDefault();
                    <tr>
                        <td>@HttpUtility.HtmlDecode(product.description)</td>
                        <td>@HttpUtility.HtmlDecode(category.description)</td>
                        <td>@product.code</td>
                        <td class="text-right">$ @string.Format(numberFormat, product.purchasePrice)</td>
                        <td class="text-right">$ @string.Format(numberFormat, product.salePrice)</td>
                        <td>
                            <a href="/Product/Update/@product.id">Editar</a>
                            <a href="/Product/Delete/@product.id">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
} else {
    <h5 class="text-warning">No hay productos creados</h5>
    <a href="/Product/Create">Crear producto</a>
}

@section Scripts{

}
