@using Inventario.Models;
@model List<ProductModel>
@{
    var title = "Productos";
    var products = Model != null ? Model : new List<ProductModel>();
    var categories = ViewBag.categories != null ? (ViewBag.categories as List<CategoryModel>) : new List<CategoryModel>();
    var messageType = ViewBag.messageType != null ? ViewBag.messageType : "success";
    var message = ViewBag.message != null ? ViewBag.message : "";
    var numberFormat = "{0:#,0.00}";
}

<h1>
    @title
    <a href="/Product/Create" class="btn btn-success float-right">Nuevo</a>
</h1>

@if (!String.IsNullOrEmpty(message)) {
    <div class="alert-@messageType message">@message</div>
}

@if (products.Count > 0) {
    <table id="myTable">
        <thead>
            <tr>
                <th>Descripción</th>
                <th>Categoría</th>
                <th>Código</th>
                <th>Valor de compra</th>
                <th>Valor de venta</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model) {
                var category = categories.Where(a=>a.id==product.category).FirstOrDefault();
                <tr>
                    <td>@product.description</td>
                    <td>@category.description</td>
                    <td>@product.code</td>
                    <td class="text-right">$ @string.Format(numberFormat, product.purchasePrice)</td>
                    <td class="text-right">$ @string.Format(numberFormat, product.salePrice)</td>
                    <td>
                        <a href="/Product/Update/@product.id">Editar</a>
                        <a href="/Product/Delete/@product.id">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
} else {
    <h5 class="text-warning">No hay productos creados</h5>
    <a href="/Product/Create">Crear producto</a>
}

@section Scripts{
    <script>

        const message = document.querySelector(".message");

        function hideElementDelay(element, delay) {
            setTimeout(function () {
                element.style.display = "none";
            }, delay);
        }

        hideElementDelay(message, 10000);

    </script>
}
